* {
    padding: 0;
    margin: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, red, black);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container {
    width: 25%;
    max-width: 500px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.container h3 {
    text-align: left;
    margin: 10px;
    padding: auto;
}

.container input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.sb {
    text-align: center; 
}

.submit-button {
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    width: 50%;
}
.submit-button:hover{
    background-color: #fff;
    color: black;
}

.message
{
    text-align: center;
    color: green;
    margin-top: 10px;

}